

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}
.box{
  margin: 0 0 0 15px;
}
.span{
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #285193;
  margin: 0 5px 0 5px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.header-container{
  width: 100%;
  height: 212px;
  background-color: #F6F6F9;
}
.main-header-inner{
  width: 100%;
  height: 212px;
  background-color:  rgba(246, 246, 249, 1);
}
.heder-dollar{
  padding: 40px;
}
.main-header-secondry{
  width: 1200px;
  height: 68px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px 0px rgba(159, 159, 159, 0.19);
  padding: 21px 25px 22px 24px ;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  
}
.header-logo{
  padding: 3px 6px 4px 8px;
  width: 306px;
  height: 33px;
}
.header-box{
  width: 320px;
  height: 40px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
  margin-right: 18px;
}
.logo-box{
  width: 142px;
  height: 42px;
  background-color: rgba(196, 196, 196, 1);
}
.logo-box-first{
  width: 146px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image:linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
}
.logo-box-first a{
  text-decoration: none;
  color: #FFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.logo-box-first a img{
  position: relative;
  right: 4px;
  top: 4px;
}
.main-header-first{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 45px;
}
.left{
  display: flex;
  align-items: center;
}
.right{
  display: flex;
  align-items: center;
  margin: 0 5px 0 0;
}

.main-header-secondry ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.main-header-secondry ul li a {
  text-decoration: none;
  color: rgba(81, 81, 81, 1);
  font-size: 19px;
}
.main-header-nav{
  display: inline-block;
  align-items: center;
  width: 1151px;

}
.img-reklama{
  margin: 10px 0;
}
/*  */
.covid-19{
  width: 1200px;
  height: 133px;
  border-radius: 5px;
  background-color:rgba(246, 246, 249, 1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}
.covid-20{
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
}
.corona-virus{
  display: flex;
  align-items: center;
}
.corona-virus img{
  margin-right: 20px;
}
.flex-colum{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.flex-colum h3{
  margin: 0;
}
.flex-colum h1{
  margin: 0;
}
.red-line{
  width: 2px;
  height: 74px;
  background: #EB5569;
}
.line{
  width: 2px;
  height: 49px;
  background: #F4CCD1;
}
.header-kurs{
  width: 258px;
  height: 21px;
  display: block;
  justify-content: space-between;
  margin-top: 30px;
}
.rasm{
  width: 386px;
  height: 190px;
  border-radius: 5px;
  margin-bottom: 11px;
}
.section-primary{
  max-width: 1200px;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-around;
}
.nrg{
margin: 20px 0 ;
}
.nrg p{
  margin: 0;
  margin-bottom: 11px;
  
}
.main-link{
  text-decoration: none;
  color: rgba(32, 32, 32, 1);
  
}
.kvadrat{
  margin-top: 34px;
  width: 1200px;
  height: 91px;
  background-color: rgba(239, 186, 84, 0.18);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}
.mute{
  width: 31px;
  height: 35px;
 margin: 28px 17px 28px 30px;

}
.tugma{
  width: 264px;
  height: 42px;
  border-radius: 5px;
  margin: 25px 20px 25px 224px;
  text-decoration: none;
 background-image: linear-gradient(90deg, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
  color: #fff;
  padding: 8px 8px 8px 15px;
  font-size: 20px;

}
.kvadrat h6{
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
}
.nrg{
  max-width: 1200px;
  width: 30%;
  

}
.section-primary{
  margin: 0%;
}
.reklama{
  width: 386px;
  height: 542px;
  padding: 20px;
  background-color: rgba(246, 246, 249, 1);

}

.section-secondry{
  width: 70%;
}
.present{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
}
.con-news{
  display: flex;
  justify-content: center;
}
.btn-more{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-more button{
  width: 211px;
  height: 42px;
  background: #295093;
  border-radius: 5px;
  color: #fff;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
}
.section-second{
  width: 30%;
  margin-top: 50px;
}
.reklama2 h3{
  margin: 0;
}
.block-news time{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #7688A4;
}
.line-news{
  width: 346px;
  height: 4px;
  background: #E4E4E4;
  margin: 15px 0;
}
.images {
  margin: 20px 0px;
}
.main-footer{
  width: 1200px;
  height: 214px;
  background: #F6F6F9;
  border-radius: 5px;
}
.maen-footer{
  display: flex;
  align-items: center;
}

.link-footer {
  display: flex;
}
.link-footer img {
  margin: 20px;
}

.text-footer h1 {
  color: #295093;
}
.text-footer{
  margin: 0 120px;
}
time {
  color: grey;
}
main{
  background-color: #fff;
}
.footer-1{
  width: 1440px;
  height: 225px;
  background-color: rgba(41, 80, 147, 1);
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.footer-top-left a img{
  width: 173px;
  height: 21px;
  background-color: rgba(19, 60, 130, 1);
  color: #fff;
  margin: 11px;
}
.footer-top{
  display: flex;
  width: 194px;
  height: 43px;
  border-radius: 5px;
  background-color:  rgba(19, 60, 130, 1);
}
.footer-top-center{
  margin-left: 198px;
  margin-right: 17px;
}
.footer-top-center p{
  width: 659px;
  height: 19px;
  font-size: 14px;
  color: #fff;
}
.footer-top-right a p{
  margin: 0%;
}
.footer-top-right{
  display: flex;
  justify-content: center;
  width: 150px;
  height: 38px;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
}
.footer-top-right a{
  text-decoration: none;
}
.footer-top-right::before{
  content: url("./../img/cib_telegram.png");
  margin-right: 7px;
}
.footer-top-right p{
  color: rgba(41, 80, 147, 1);
}
.footer-top::after{
  content: "";
  width: 1200px;
  height: 3px;
  color: white;
}
.chegara{
  width: 1200px;
  height: 3px;
  color:rgba(19, 60, 130, 1);
  background-color: rgba(19, 60, 130, 1);
  border:rgba(19, 60, 130, 1);
}
.footer-bottom{
  margin-top: 12px;
  display: flex;
  justify-content:space-between;
}
.footer-bottom-left{
  width: 365px;
  height: 121px;
  font-size: 14px;
  color: #fff;
}
.footer-bottom-center{
  width: 163px;
  height: 106px;
  color: white;
  font-size: 14px;
}
.footer-bottom-right{
  width: 225px;
  height: 106px;
  color: #fff;
}
.footer-list li{
  list-style: none;
}
.footer-box{
  margin-top: 10px;
}
.footer-1{
  width: 1440px;
}
.main-footer{
  width: 1200px;
  height: 214px;
  margin-right: 130px;
  margin-left: 130px;
  margin-bottom: 38px;
}